body{
	background-image: url("http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0106/2654/rrrchev_butter_mirror_preview.png");
}
p.MusicApp{
	color:#E34DC5;
	text-align: center;
	font-size: 60px;
	text-shadow: 3px 3px #9802C2;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
button#deathcab{
	width:200px;
	height:200px;
}
button#sleeping{
	width:200px;
	height:200px;
}
button#am-i-wrong{
	width:200px;
	height:200px;
}
button#want-to-want-me{
	width:200px;
	height:200px;
}
ul
{
list-style-type: none;
}



