body{
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/b6/c8/ab/b6c8ab642d20ce6d4aedba10a6d3ddc1.jpg");
}
button#deathcab{
	width:200px;
	height:200px;
}
button#sleeping{
	width:200px;
	height:200px;
}
button#am-i-wrong{
	width:100px;
	height:100px;
}





