body{
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/03/2f/74/032f740d9c1e68b9bfdd2cbeeaf21b88.jpg");
}
p.MusicApp{
	color:#E34DC5;
	text-align: center;
	font-size: 60px;
	text-shadow: 3px 3px aqua;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
div#background{
	position: relative;
}

button#deathcab{
	width:200px;
	height:200px;
}
button#dcdiv{
	float:left;
}
button#sleeping{
	width:200px;
	height:200px;
}
button#sdiv{
	float:left;


}
button#am-i-wrong{
	height:200px;
	width:200px;
}
button#aiwdiv{
	float:left;
}

